/* Eléments principaux de la page */

#bloc_page
{
    width: 900px;
    margin: auto;
}

/* Ajout typographie */
@font-face {
    font-family: 'ralewayblack';
    src: url('polices/raleway-black-webfont.woff2') format('woff2'),
         url('polices/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('polices/raleway-bold-webfont.woff2') format('woff2'),
         url('polices/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('polices/raleway-extrabold-webfont.woff2') format('woff2'),
         url('polices/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextralight';
    src: url('polices/raleway-extralight-webfont.woff2') format('woff2'),
         url('polices/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayitalic';
    src: url('polices/raleway-italic-webfont.woff2') format('woff2'),
         url('polices/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('polices/raleway-light-webfont.woff2') format('woff2'),
         url('polices/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('polices/raleway-medium-webfont.woff2') format('woff2'),
         url('polices/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('polices/raleway-regular-webfont.woff2') format('woff2'),
         url('polices/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('polices/raleway-semibold-webfont.woff2') format('woff2'),
         url('polices/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('polices/raleway-thin-webfont.woff2') format('woff2'),
         url('polices/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.top_section
{
    display: flex;
    justify-content: space-between;
}

ul.main_menu li 
{
    display:inline;
    padding-inline: 20px;
}

.main_menu
{
    padding: 20px;
}

.logo
{
   
}

footer
{
    display:flex;
    justify-content: space-between;
    background-color:#F2F2F2;
    padding: 30px;
}

.footer_column li
{
    line-height: 2;
}

.footer_column ul
{
    list-style-type: none;
    padding-left: 0px;
}