@media screen and (max-width: 576px) {
    
    #bloc_page {
        margin: auto;
        font-family: 'Raleway', sans-serif;
        max-width: 576px;
    }

    .top_section {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 50%;
        margin: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footer_columns {
        margin-left: 1.5rem;
    }

    .main_menu_signup {
        position: absolute;
        right: 5px;
        top: 30px;
        font-size: 1.3rem;
        font-weight: bold;
    }
}    
