@media screen and (max-width: 576px) {
    
    #bloc_page {
        margin: auto;
        font-family: 'Raleway', sans-serif;
    }

    .top_section {
        display: flex;
        flex-direction: column;
    }
    .logo {
        width: 20%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footer_columns {
        margin-left: 1.5rem;
    }

    .main_menu_signup {
        position: absolute;
        right: 5px;
        top: 40px;
        font-size: 1.3rem;
        font-weight: bold;
    }

    ul.main_menu_list {

    }
}    
