/* Eléments principaux de la page */

#bloc_page
{
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-style: bold;
}

h4 {
    font-size: 1em;
    font-style: bold;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color:black;
    font-size: 0.9em;
}